{% extends "gpt/base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
  <h1>Criar nova senha</h1>
  {% if validlink %}
    <p>Por favor insira sua nova senha duas vezes:</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Change my password" /></p>
    </form>
    {% else %}
      <p>O link para criação de nova senha é inválido. Por favor, solicite a criação de uma nova senha.</p>
    {% endif %}
  {% endblock %}
  

